<% content_for :footer do %> 
<% end %>
<% content_for :box do %> 
    <% @user.password = @user.password_confirmation = nil %>
    
    <%= error_messages_for :user %>
    <div class="block" id="block-signup">
        <h2>Sign up</h2>             
        <div class="content">          
        <% form_for :user, :url => users_path, :html => {:class => "form"} do |f| -%>
            <div class="group">
                <div class="left">
                    <label class="label">Login</label>
                </div>
                <div class="right">
                    <%= f.text_field :login, :class =>"text_field" %>
                    <span class="description">Ex: web-app-theme</span>
                </div>              
                <div class="clear"></div>
            </div>
            <div class="group">
                <div class="left">
                    <label class="label">Email</label>                
                </div>
                <div class="right">
                    <%= f.text_field :email, :class =>"text_field" %>
                    <span class="description">Ex: test@example.com</span>
                </div>              
                <div class="clear"></div>
            </div>
            <div class="group">
                <div class="left">
                    <label class="label">Password</label>
                </div>
                <div class="right">
                    <%= f.password_field :password %>
                    <span class="description">Must contains the word 'yeah'</span>
                </div>              
                <div class="clear"></div>
            </div>
        
            <div class="group">
                <div class="left">
                    <label class="label">Confirm Password</label>
                </div>
                <div class="right">
                    <%= f.password_field :password_confirmation %>
                    <span class="description">Must contains the word 'yeah'</span>
                </div>              
                <div class="clear"></div>
            </div>
        
            <div class="group navform">
                <input type="submit" class="button" value="Sign up" />
            </div>
            <% end %>
        </div>
    </div>
<% end %>
